* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

html {
	font-size: 100%;
}

body {
	background-color: black;
	width: 100%;
	height: 100%;
}

.container {
	margin: 1em auto;
	width: 95%;
	height: 100%;
}

.editar {
	width: 80%;
	margin-left: auto;
	text-align: right;
}

.img-fechar {
	width: 2em;
	margin-right: 3em;
	border-radius: 100%;
}

.img-fechar:hover {
	width: 2.5em;
	cursor: pointer;
}

.cronograma-title {
	width: auto;
	text-align: center;
}

.cronogramas {
	width: 100%;
	height: 80%;
	margin-left: 1em;
	border-radius: 0.6em;
	display: flex;
	flex-direction: row;
}

.cronograma-horario {
	margin: 0.5em;
	width: auto;
	height: 60%;
	margin-right: auto;
	background-color: #2d2d2d;
	border-radius: 0.6em;
	/*float: left;*/
}

.cronograma {
	margin: 0.5em;
	width: auto;
	margin-right: auto;
	background-color: #2d2d2d;
	border-radius: 0.6em;
	/*float: left;*/
}

.title {
	width: auto;
	margin: 1em auto;
	text-align: center;
}

.info {
	margin: 0.3em 0.6em;
	padding: 0.3em;
	width: auto;
	height: auto;
	background-color: #3d3d3d;
	border-radius: 0.3em;
}

.materia,
.professor,
.horario {
	margin: auto;
	padding: 0.3em;
	padding-right: auto;
	width: 9em;
	text-align: center;
	color: #e7e7e7;
}

/* Grid para o horário */

.wrapper {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(11, 1fr);
	grid-auto-flow: column dense;
	column-gap: 0.5em;
}

.wrapper>div {
	background-color: #2d2d2d;
	display: flex;
}

.box>div {
	margin: 0.3em 0.6em;
	padding: 0.3em;
	width: 100%;
	background-color: #3d3d3d;
	border-radius: 0.3em;
}

/* 
10n é um a cada 10
10n + 7 é para pegar o elemento nº 17, 27, 37, etc.
Essa regra gera a parte de baixo da coluna arredondada
 */
.box:nth-of-type(10n + 7) {
	border-radius: 0 0 0.6em 0.6em;
}

/* Essa regra gera a parte de cima da coluna arredondada */
.cabecalho {
	grid-row: 1;
	border-radius: 0.6em 0.6em 0 0;
}

.cabecalho>div {
	margin: auto;
	text-align: center;
}

@media (max-width: 1280px) {
	/*
		html {
			font-size: 90%;
		}
		*/

}

@media (max-width: 1024px) {
	/*
		html {
			font-size: 80%;
		}
		*/
}


@media (max-width: 768px) {
	/*
		html {
			font-size: 70%;
		}
		*/
}


@media (max-width: 480px) {}