* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	background-color: #000;
	width: 100%;
}

.container {
	min-width: 100%;
}

.editar {
	width: 60%;
	margin: 1em auto;
	text-align: right;
}

.img-fechar {
	width: 2em;
	margin-right: 3em;
	border-radius: 100%;
}

.img-fechar:hover {
	width: 2.5em;
	cursor: pointer;
}

.posts-preview {
	margin: 1.2em auto;
	padding: 1em;
	width: 60%;
	background-color: #1d1d1d;
	color: white;
	border-radius: 1em;
	text-align: justify;
}

.posts-preview img {
	margin: auto;
	margin-bottom: 0.5em;
	width: 100%;
}

.posts-preview h2 {  
	margin: 0.5em auto;
	padding: 0em;
	width: 100%;
	text-align: center;
	word-wrap: break-word;
}

.container #data {
	margin: 0.5em auto;
	padding: auto 1em;
	width: 100%;
	text-align: right;
}

.text {
	font-size: 1em;
	margin: auto;
	color: white;
	width: 100%;
	column-count: 2;
	text-align: justify;
	word-wrap: break-word;
}

.autor, .fonte{
	margin: 0.5em auto;
	width: 100%;
	text-align: justify;
}

.fonte{
	color: royalblue;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	color: white;
	text-decoration: none;
}

.fonte:hover {
	cursor: pointer;
	color: red;
}

@media (max-width: 1280px) {

}


@media (max-width: 1024px) {

	
}

@media (max-width: 768px) {

	.posts-preview {
		width: 80%;
	}
	
}

@media (max-width: 600px) {
	

}


@media (max-width: 500px) {
	
	.text {
		column-count: 1;
	}

	.posts-preview {
		width: 90%;
	}


}

