</html>

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
</head>

<body>

    <div class="autentication-field">
        <form method="POST" enctype="multipart/form-data">
            <h2>Autentique-se como administrador</h2>
            <input type="email" required autocomplete='off' placeholder='Email' name="email" id="email"
                value="{{ request.form['email'] }}">
            <input type="password" required autocomplete='off' placeholder='Senha' name="password" id="password"
                value="{{ request.form['password'] }}">
            <div class="button-field">
                <button type="submit">Log-in</button>
                <a href="{{url_for('index_noticias')}}">
                    <button>Voltar</button>
                </a>
            </div>
        </form>
    </div>

</body>

</html>