<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>{% block title %} {{ mapa['title']}} {% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/setor-preview-admin.css')}}">
</head>

<body class="body-setores">

  <div class="bar">
    <h1>Setores</h1>

    <div class="bar-hour-date">
      <h3 id="bar-hour"></h3>
      <h3 id="bar-date"></h3>
    </div>
    <div class="toggle-switch">

      <a href="{{url_for('index_noticias')}}">
        <div class="btn-aluno active"></div>
      </a>
      <a href="{{url_for('login')}}">
        <div class="btn-admin"></div>
      </a>
    </div>
  </div>

  <div class="container">
    <nav>
      <ul class="nav-ul">
        <li class="nav-li"><a href="{{url_for('index_noticias')}}" alt="Noticias">
            <div id="nav-btn-1" class="nav-btn"><img
                src="{{url_for('static', filename='imagens/noticias-icon-128x128-transparent.png')}}">
            </div>
          </a></li>
        <li class="nav-li"><a href="{{url_for('index_cronogramas')}}" alt="Cronogramas">
            <div id="nav-btn-2" class="nav-btn"><img
                src="{{url_for('static', filename='imagens/cronograma-icon-128x128-transparent.png')}}">
            </div>
          </a></li>
        <li class="nav-li"><a href="{{url_for('index_mapas')}}" alt="Mapas">
            <div id="nav-btn-3" class="nav-btn"><img
                src="{{url_for('static', filename='imagens/mapa-icon-128x128-transparent.png')}}"></div>
          </a></li>
        <li class=" nav-li"><a href="{{url_for('index_eventos')}}" alt="Eventos">
            <div id="nav-btn-4" class="nav-btn"><img
                src="{{url_for('static', filename='imagens/evento-icon-128x128-transparent.png')}}">
            </div>
          </a></li>
      </ul>
    </nav>
  </div>

  <div class="container-setores">
    <h1 class="title-planta"></h1>
    <div class="planta">
      <img id="img-planta" src="{{url_for('static', filename='imagens/'+mapa['url'])}}">
      {% for setor in setores %}

      <div id="item" class="item">
        <a href="{{ url_for('setor', setor_id=setor['id']) }}">
          {{ setor['id'] }}
        </a>
      </div>

      {% endfor %}
    </div>
  </div>

  <script src="{{url_for('static', filename='js/setor-preview.js')}}"></script>
  <script src="{{url_for('static', filename='js/hour-date.js')}}"></script>

</body>

</html>